# Matrix Exercises

For the following matrix manipulation exercises, begin by building the following matrix (you'll probably want to just copy-paste this code), which we can imagine is a survey of age, education and income:

In [1]:
income <- c(22000, 65000, 19000, 110000, 14000, 0, 35000)
age <- c(20, 35, 55, 35, 21, 56, 42)
education <- c(12, 16, 11, 22, 12, 8, 12)

svy <- cbind(income, age, education)
svy

     income age education
[1,]  22000 20  12
[2,]  65000 35  16
[3,]  19000 55  11
[4,] 110000 35  22
[5,]  14000 21  12
[6,]      0 56   8
[7,]  35000 42  12

## Exercise 1: Summarizing Data

1. What is the average age of all respondents?

In [2]:
mean(svy[, "age"])

[1] 37.71429

2. What is the average income of respondents over 30?

In [3]:
mean(svy[svy[, "age"] > 30, "income"])

[1] 45800

3. What is the average education of respondents with incomes above the average income for all respondents?

In [4]:
# Broken out
avg_income <- mean(svy[, "income"])
rows_above_avg <- svy[, "income"] > avg_income
educs_of_above_avg <- svy[rows_above_avg, "education"]
mean(educs_of_above_avg)

[1] 19

In [5]:
# Condensed as much as I'd like
avg_income <- mean(svy[, "income"])
mean(svy[svy[, "income"] > avg_income, "education"])

[1] 19


## Exercise 2: Editing Data

The US government is thinking about offering a 10,000 tax credit to anyone making less than 20,000 a year. 

Using `cbind`, add a new column to the matrix called "after_tax_income" populated with the incomes individuals will get *after* receiving the tax credit if they are eligible. Hint: you may wish to break this down into several steps.

In [6]:
after_tax_income <- svy[, "income"]
updated_survey <- cbind(svy, after_tax_income)
updated_survey

     income age education after_tax_income
[1,]  22000 20  12         22000
[2,]  65000 35  16         65000
[3,]  19000 55  11         19000
[4,] 110000 35  22        110000
[5,]  14000 21  12         14000
[6,]      0 56   8             0
[7,]  35000 42  12         35000

In [7]:
under_20000 <- updated_survey[, "income"] < 20000
updated_survey[under_20000, "after_tax_income"] = updated_survey[under_20000, "after_tax_income"] + 10000
updated_survey

     income age education after_tax_income
[1,]  22000 20  12         22000
[2,]  65000 35  16         65000
[3,]  19000 55  11         29000
[4,] 110000 35  22        110000
[5,]  14000 21  12         24000
[6,]      0 56   8         10000
[7,]  35000 42  12         35000