# Matrix Exercises

For the following matrix manipulation exercises, begin by building the following matrix (you'll probably want to just copy-paste this code), which we can imagine is a survey of age, education and income:

In [5]:
income <- c(22000, 65000, 19000, 110000, 14000, 0, 35000)
age <- c(20, 35, 55, 35, 21, 56, 42)
education <- c(12, 16, 11, 22, 12, 8, 12)

svy <- cbind(income, age, education)
svy

     income age education
[1,]  22000 20  12
[2,]  65000 35  16
[3,]  19000 55  11
[4,] 110000 35  22
[5,]  14000 21  12
[6,]      0 56   8
[7,]  35000 42  12

## Exercise 1: Summarizing Data

1. What is the average age of all respondents?
2. What is the average income of respondents over 30?
3. What is the average education of respondents with incomes above the average income for all respondents?

## Exercise 2: Editing Data

The US government is thinking about offering a 10,000 tax credit to anyone making less than 20,000 a year. 

Using `cbind`, add a new column to the matrix called "after_tax_income" populated with the incomes individuals will get *after* receiving the tax credit if they are eligible. Hint: you may wish to break this down into several steps.