# Plotting Exercises, Part 1

### Exercise 1

Create a dataframe from the "Datasaurus.tsv" file with the following code:

In [1]:
data <- read.csv("https://raw.githubusercontent.com/nickeubank/computational_methods_boot_camp/main/source/data/Datasaurus.tsv", sep="\t")

`Datasaurus.tsv` is a tab-separated-value file, so it's like a CSV, but it uses tabs not commas to separate columns. We can read this with `read.csv`, but we have to tell it that the column separator is a tab with the argument `sep="\t"`. Take a look at a few of the top rows:

In [2]:
head(data)

  example1_x example1_y example2_x example2_y example3_x example3_y example4_x
1 32.33111   61.41110   51.20389   83.33978   55.99303   79.27726   55.3846
2 53.42146   26.18688   58.97447   85.49982   50.03225   79.01307   51.5385
3 63.92020   30.83219   51.87207   85.82974   51.28846   82.43594   46.1538
4 70.28951   82.53365   48.17993   85.04512   51.17054   79.16529   42.8205
5 34.11883   45.73455   41.68320   84.01794   44.37791   78.16463   40.7692
6 67.67072   37.11095   37.89042   82.56749   45.01027   77.88086   38.7179
  example4_y example5_x example5_y ⋯ example9_x example9_y example10_x
1 97.1795    51.14792   90.86741   ⋯ 47.69520   95.24119   58.21361
2 96.0256    50.51713   89.10239   ⋯ 44.60998   93.07584   58.19605
3 94.4872    50.20748   85.46005   ⋯ 43.85638   94.08587   58.71823
4 91.4103    50.06948   83.05767   ⋯ 41.57893   90.30357   57.27837
5 88.3333    50.56285   82.93782   ⋯ 49.17742   96.61053   58.08202
6 84.8718    50.28853   82.97525   ⋯ 42.65225   90.56064   57.48945
  example10_y example11_x example11_y example12_x example12_y example13_x
1 91.88189    50.48151    93.22270    65.81554    95.58837    38.33776
2 92.21499    50.28241    97.60998    65.67227    91.93340    35.75187
3 90.31053    50.18670    99.69468    39.00272    92.26184    32.76722
4 89.90761    50.32691    90.02205    37.79530    93.53246    33.72961
5 92.00815    50.45621    89.98741    35.51390    89.59919    37.23825
6 88.08529    30.46485    82.08923    39.21945    83.54348    36.02720
  example13_y
1 92.47272
2 94.11677
3 88.51829
4 88.62227
5 83.72493
6 82.04078

## Exercise 2

This dataset actually contains 13 separate example datasets, each with two variables named `example[number]_x` and `example[number]_y`. 

In order to get a better sense of what these datasets look like, our first goal will be to write a loop that iterates over each example dataset (numbered 1 to 13) and prints out the mean and standard deviation for `example[number]_x` and `example[number]_y` for each dataset. 

For example, the first iteration of this loop might return something like (note I'm also rounding my answers for readability):

```
Example Dataset 1: 
Mean x: 23.12, 
Mean y: 98.24, 
Std Dev x: 21.24, 
Std Dev y: 32.24,
Correlation: 0.74
```

(Though you shouldn't get those specific values)

But as we discussed in our reading, we want to approach this in stages. So first, write out the skeleton of your loop. Don't put anything in it except to print out the value of the variable that is iterating in the loop for now.

## Exercise 3

Now sketch out what the inside of your loop will look like. As discussed in the readings, begin by creating a variable that takes on the first value you'll loop over, then, using that variable, write code that does what you want your first pass of the loop to do. 

You'll probably need to make use of `print()`, `paste0()`, and `round()`.

## Exercise 4

Now put them together! Can you print out these summary statistics for all 13 pairs of variables?

## Exercise 5

Based only on these results, discuss what might you conclude about these example datasets with your partner. Write down your thoughts.

## Exercise 6

Now we're going to write a loop that plots these datasets out in a scatter plot. To do this, we'll be using the library `ggplot2`, a libraries from the tidyverse the is unequivocally the best tool for plotting in R.

We aren't going to do a full lesson on ggplot because you're sure to encounter it in the future, but the basic syntax to plot the first dataset would look like this:

In [3]:
library(ggplot2)

# First is the dataset, then within `aes()` you specify
# which column from the data is the x-axis and which column is the y-axis,
# then `+ geom_point()` tells ggplot to plot points for each line of the data.

ggplot(data, aes(x = example1_x, y = example1_y)) + geom_point()

ERROR: Error in library(ggplot2): there is no package called ‘ggplot2’

Now build a loop that plots a scatter plot of all 13 of these data pairs. As before, approach it first by writing a skeleton loop that specifies how the loop will work, then write the inside separately, then integrate the two. 

Note that because ggplot is from the tidyverse, it interprets column names using non-standard evaluation, so you'll need to use the `.data[[]]` trick from the 
reading to write a loop!

### Exercise 7

Review you plots. How does your impression of how these datasets differ from what you wrote down in Exercise 3?